In [1]:
#import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
#import datetime as dt

In [2]:
nRowsRead = None
df1 = pd.read_csv('kaggle\input\movilidad-de-personas-sample.csv', delimiter=',', nrows = nRowsRead, index_col = False)
df1.dataframeName = 'movilidad-de-personas-sample.csv'
nRow, nCol = df1.shape
print(f'Hay {nRow} de filas y {nCol} columnas')

Hay 1000000 de filas y 25 columnas

In [6]:
print('Tipos de datos de las columnas:\n', df1.dtypes)
print ('Número de datos que contiene:\n', df1.size)
print('Nombres de columnas:', df1.columns)
print('Nombres de filas:', df1.index)

Tipos de datos de las columnas:
 date                                   object
destination_activity                   object
destination_autonomous_region_name     object
destination_district_mitma_id          object
destination_district_name              object
destination_lat_centroid              float64
destination_lon_centroid              float64
destination_province_name              object
destination_town_name                  object
distance_km_interval                   object
home_province_name                     object
hour                                    int64
n_trips                                 int64
origin_activity                        object
origin_autonomous_region_name          object
origin_district_mitma_id               object
origin_district_name                   object
origin_lat_centroid                   float64
origin_lon_centroid                   float64
origin_province_name                   object
origin_town_name                       object
total_km_traveled                       int64
year                                    int64
month                                   int64
day                                     int64
dtype: object
Número de datos que contiene:
 25000000
Nombres de columnas: Index(['date', 'destination_activity', 'destination_autonomous_region_name',
       'destination_district_mitma_id', 'destination_district_name',
       'destination_lat_centroid', 'destination_lon_centroid',
       'destination_province_name', 'destination_town_name',
       'distance_km_interval', 'home_province_name', 'hour', 'n_trips',
       'origin_activity', 'origin_autonomous_region_name',
       'origin_district_mitma_id', 'origin_district_name',
       'origin_lat_centroid', 'origin_lon_centroid', 'origin_province_name',
       'origin_town_name', 'total_km_traveled', 'year', 'month', 'day'],
      dtype='object')
Nombres de filas: RangeIndex(start=0, stop=1000000, step=1)

In [7]:
#Filtrar las columnas del DataFrame para quedarse con las siguientes 13 columnas

#date, destination_activity, destination_autonomous_region_name, destination_province_name, distance_km_interval, home_province_name, origin_activity,
#origin_autonomous_region_name, origin_province_name, total_km_traveled, year, month, day 

# fecha, actividad de destino, nombre de la región autónoma de destino, nombre de la provincia de destino, intervalo de km de distancia, nombre de la provincia de origen,
#actividad de origen, nombre de la región autónoma de origen, nombre de la provincia de origen, total de km recorridos, año, mes, día

# Purgamos hasta quedarnos sólo con 7 columnas:
"""
fecha ---------------------> date
motivo_destino ------------> destination_activity
comunidad_destino ---------> destination_autonomous_region_name
intervalo_kms_distancia ---> distance_km_interval
motivo_origen -------------> origin_activity
comunidad_origen ----------> origin_autonomous_region_name
total_kms -----------------> total_km_traveled
"""
# Más adelante podemos/debemos incluir year, month, day para mejorar las búsquedas
columnas = ['date', 'destination_activity', 'destination_autonomous_region_name', 'distance_km_interval', 'origin_activity',
            'origin_autonomous_region_name', 'total_km_traveled' ]
#df2 = df1
#columnas.extend([col for col in df2])
#df2 = df2[columnas]
#df2.head(5)
df2 = df1[columnas]
df2.head(5)

,date,destination_activity,destination_autonomous_region_name,distance_km_interval,origin_activity,origin_autonomous_region_name,total_km_traveled
0,2020-02-21T00:00:00.000Z,casa,País Vasco,5-10,otros,País Vasco,39
1,2020-02-21T00:00:00.000Z,otros,País Vasco,10-50,otros,País Vasco,66
2,2020-02-21T00:00:00.000Z,otros,País Vasco,10-50,casa,País Vasco,198
3,2020-02-21T00:00:00.000Z,otros,País Vasco,>100,casa,Castilla y León,1859
4,2020-02-21T00:00:00.000Z,otros,País Vasco,50-100,otros,"Navarra, Comunidad Foral de",474

In [8]:
df3 = df2.rename (columns = {'date' : 'fecha',
                       'destination_activity' : 'motivo_destino',
                       'destination_autonomous_region_name' : 'comunidad_destino',
                       'distance_km_interval' : 'intervalo_kms_distancia',
                       'origin_activity' : 'motivo_origen', 
                       'origin_autonomous_region_name' : 'comunidad_origen',
                       'total_km_traveled' : 'total_kms'})

In [9]:
df3.head(10)

,fecha,motivo_destino,comunidad_destino,intervalo_kms_distancia,motivo_origen,comunidad_origen,total_kms
0,2020-02-21T00:00:00.000Z,casa,País Vasco,5-10,otros,País Vasco,39
1,2020-02-21T00:00:00.000Z,otros,País Vasco,10-50,otros,País Vasco,66
2,2020-02-21T00:00:00.000Z,otros,País Vasco,10-50,casa,País Vasco,198
3,2020-02-21T00:00:00.000Z,otros,País Vasco,>100,casa,Castilla y León,1859
4,2020-02-21T00:00:00.000Z,otros,País Vasco,50-100,otros,"Navarra, Comunidad Foral de",474
5,2020-02-21T00:00:00.000Z,casa,País Vasco,0.5-2,otros,País Vasco,35
6,2020-02-21T00:00:00.000Z,casa,País Vasco,10-50,otros,País Vasco,166
7,2020-02-21T00:00:00.000Z,otros,País Vasco,5-10,otros,País Vasco,73
8,2020-02-21T00:00:00.000Z,otros,País Vasco,5-10,trabajo,País Vasco,81
9,2020-02-21T00:00:00.000Z,casa,País Vasco,10-50,otros,País Vasco,521

In [10]:
# Ver como editar la fecha
#df3['fecha'] = pd.to_datetime(df3.fecha, format='%Y/%m/%d', infer_datetime_format=True, errors='coerce')

In [11]:
#Buscamos nulls y los contabilizamos. En este caso no es necesario borrarlos porque no hay.
df3.isnull().sum()

fecha                      0
motivo_destino             0
comunidad_destino          0
intervalo_kms_distancia    0
motivo_origen              0
comunidad_origen           0
total_kms                  0
dtype: int64

In [12]:
madrid_d = df3['comunidad_destino'] == 'Madrid, Comunidad de'
madrid_d.head()
df4 = df3[madrid_d]
df4.head(10)

,fecha,motivo_destino,comunidad_destino,intervalo_kms_distancia,motivo_origen,comunidad_origen,total_kms
1420,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",10-50,casa,Castilla - La Mancha,528
1421,2020-02-21T00:00:00.000Z,trabajo,"Madrid, Comunidad de",10-50,casa,"Madrid, Comunidad de",105
1422,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",10-50,otros,"Madrid, Comunidad de",375
1423,2020-02-21T00:00:00.000Z,casa,"Madrid, Comunidad de",0.5-2,otros,"Madrid, Comunidad de",160
1424,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",2-5,casa,"Madrid, Comunidad de",16
1425,2020-02-21T00:00:00.000Z,casa,"Madrid, Comunidad de",0.5-2,otros,"Madrid, Comunidad de",162
1426,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",0.5-2,otros,"Madrid, Comunidad de",10
1427,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",0.5-2,otros,"Madrid, Comunidad de",55
1428,2020-02-21T00:00:00.000Z,casa,"Madrid, Comunidad de",0.5-2,trabajo,"Madrid, Comunidad de",42
1429,2020-02-21T00:00:00.000Z,casa,"Madrid, Comunidad de",2-5,trabajo,"Madrid, Comunidad de",33

In [13]:
print('Dimensiones:', df4.shape)
print('Número de elementos:', df4.size)

Dimensiones: (111383, 7)
Número de elementos: 779681

In [14]:
madrid_o = df3['comunidad_origen'] == 'Madrid, Comunidad de'
madrid_o.head()
df5 = df3[madrid_o]
df5.head(10)

,fecha,motivo_destino,comunidad_destino,intervalo_kms_distancia,motivo_origen,comunidad_origen,total_kms
41,2020-02-21T00:00:00.000Z,otros,País Vasco,>100,otros,"Madrid, Comunidad de",1661
115,2020-02-21T00:00:00.000Z,otros,País Vasco,>100,otros,"Madrid, Comunidad de",1891
136,2020-02-21T00:00:00.000Z,otros,País Vasco,>100,otros,"Madrid, Comunidad de",1770
261,2020-02-21T00:00:00.000Z,otros,País Vasco,>100,otros,"Madrid, Comunidad de",1986
405,2020-02-21T00:00:00.000Z,otros,Castilla y León,>100,casa,"Madrid, Comunidad de",1216
424,2020-02-21T00:00:00.000Z,otros,Castilla y León,>100,casa,"Madrid, Comunidad de",902
484,2020-02-21T00:00:00.000Z,otros,Castilla y León,>100,casa,"Madrid, Comunidad de",1406
511,2020-02-21T00:00:00.000Z,otros,Extremadura,>100,casa,"Madrid, Comunidad de",1064
527,2020-02-21T00:00:00.000Z,otros,Castilla - La Mancha,>100,otros,"Madrid, Comunidad de",1471
559,2020-02-21T00:00:00.000Z,casa,Castilla - La Mancha,10-50,otros,"Madrid, Comunidad de",164

In [15]:
print('Dimensiones:', df5.shape)
print('Número de elementos:', df5.size)

Dimensiones: (115230, 7)
Número de elementos: 806610

In [16]:
madrid_total_desplazamientos = pd.concat ([df4, df5], ignore_index = True).drop_duplicates()
print('Dimensiones:', madrid_total_desplazamientos.shape)
print('Número de elementos:', madrid_total_desplazamientos.size)

Dimensiones: (75116, 7)
Número de elementos: 525812

In [18]:
madrid_total_desplazamientos.head(5)

,fecha,motivo_destino,comunidad_destino,intervalo_kms_distancia,motivo_origen,comunidad_origen,total_kms
0,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",10-50,casa,Castilla - La Mancha,528
1,2020-02-21T00:00:00.000Z,trabajo,"Madrid, Comunidad de",10-50,casa,"Madrid, Comunidad de",105
2,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",10-50,otros,"Madrid, Comunidad de",375
3,2020-02-21T00:00:00.000Z,casa,"Madrid, Comunidad de",0.5-2,otros,"Madrid, Comunidad de",160
4,2020-02-21T00:00:00.000Z,otros,"Madrid, Comunidad de",2-5,casa,"Madrid, Comunidad de",16

In [19]:
print('Última fila:\n', madrid_total_desplazamientos.tail(1))

Última fila:
                            fecha motivo_destino comunidad_destino  \
226612  2020-08-13T00:00:00.000Z          otros   Castilla y León

       intervalo_kms_distancia motivo_origen      comunidad_origen  total_kms
226612                  50-100         otros  Madrid, Comunidad de        384